h1{
    font-size:40px;
    text-align:center;
    margin:0;
    padding:25px;
    border-bottom:3px black solid;
    
}
ol{
    width:150px;
    border-right:3px black solid;
    margin:0;
    padding:20px;
}
.grid{
    display:grid;
    grid-template-columns: 200px 1fr;
}
.grid ol{
    padding-left:28px;
}
#article{
    padding:10px;
}

@media(max-width:700px){
    .grid{
        display:block;
    }
    h1{
        border-bottom:none;
    }
    ol{
        border-right:none;
    }
}